.services-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 1rem;

    .services-tiles-container {
        width: 100%;

        .services-tiles {
            display: grid; 
            grid-template-columns: repeat(3, 1fr);
            grid-auto-flow: dense;

            .services-tile {
                display: flex;
                flex-direction: column;
                background: rgb(231, 231, 231);
                border-radius: 10px;
                padding: 0.5rem;
                margin: 0.5rem;

                img {
                    align-self: center;
                    height: 10vmax;
                    width: 10vmax;
                }
            }
            .services-tile-description {
                grid-column: 1 / -1;
                background: rgb(231, 231, 231);
                border-radius: 10px;

                &.open {
                    margin: 0 0.5rem;
                    padding: 0.5rem;
                }

                h2 {
                    margin-top: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .services-container {

        .services-tiles-container {

            .services-tiles {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .services-container {

        .services-tiles-container {

            .services-tiles {
                grid-template-columns: repeat(7, 1fr);
            }
        }
    }
}