.services-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 1rem;

    .services-tiles-container {
        width: 100%;
        background: grey;
        margin-top: 30%;

        .services-tiles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;

            .services-tile {
                background: black;
                margin: 0.5rem 0;
                width: 6rem;
                height: 6rem;
                border-radius: 10px;
            }
        }
    }
}