.home-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5rem);
    padding: 0 3%;
    padding-top: 5rem;

    .home-carousel-container {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: center;

        & .home-carousel {
            flex-direction: row;
            align-content: flex-end;
            justify-content: center;
            background: purple;
            margin-bottom: 3rem;

            .pic1 {
                width: 200px;
                height: 150px;
                background: red
            }
    
            .pic2 {
                width: 200px;
                height: 150px;
                background: blue
            }
    
            .pic3 {
                width: 200px;
                height: 150px;
                background: green
            }

        }

    }
}

@media screen and (min-width:1200px) {
    .home-container {
        flex-direction: row;
        justify-content: space-between;

        .home-text {
            max-width: 30rem;
            // align-self: center;
            margin-top: 10%;
        }

        .home-carousel-container {
            justify-content: flex-start;
            margin-top: 5%;
        }
    }
}