.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 1rem;

    .home-carousel-container {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: center;

        & .home-carousel {
            flex-direction: row;
            align-content: flex-end;
            justify-content: center;
            background: purple;
            margin-bottom: 3rem;

            .pic1 {
                width: 200px;
                height: 150px;
                background: red
            }
    
            .pic2 {
                width: 200px;
                height: 150px;
                background: blue
            }
    
            .pic3 {
                width: 200px;
                height: 150px;
                background: green
            }

        }

    }
}