.contact-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5rem); // Calculating this height to substract padding-top
    padding: 0 3%;
    padding-top: 5rem;
    justify-content: space-between;

    .contact-info {
        height: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .contact-container {
        flex-direction: row;
        justify-content: space-between;
    } 
}