.contact-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 3%;
    padding-top: 5rem;
    justify-content: space-between;

    .contact-info-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .contact-container {
        flex-direction: row;
        justify-content: space-between;

        .contact-text {
            padding-top: 10%;
        }

        .contact-info-container {
            justify-content: flex-start;
            padding-top: 10%;
        }
    }
}