.contact-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5rem); // Calculating this height to substract padding-top
    margin: 0 1rem;
    padding-top: 5rem;
    justify-content: space-between;

    .contact-info {
        height: 100%;
    }
}